// Bootstrap Variables Override
@import 'layout/variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';

// Other Imports
@import 'layout/default';
@import 'layout/header';
@import 'layout/footer';

@import 'layout/login';
@import 'layout/page';

@import 'layout/client-detail';
@import 'layout/steps';
@import 'layout/dashboard';

@import 'layout/table';
@import 'layout/requests';