.dashboard {

    .db-card {
        border-radius: 10px;
        border-color: #DDDDDD;

        &.db-cardAlt {
            border-color: #A6CDCD;
            background: #D4E1FC;
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 15px;
        }

        .card-body {
            padding: 0.875rem 1rem;
        }


    }

    .dr-card {
        margin-bottom: 15px;
        border-radius: 10px;
        border-color: #DDDDDD;

        &.dr-cardAlt {
            border-color: #A6CDCD;
            background: #D4E1FC;
        }


        @include media-breakpoint-down(md) {
            margin-bottom: 15px;
        }

        +.dr-card {
            margin-top: 15px;
        }

        .card-body {
            padding: 0.875rem 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
                color: #333333;
                font-size: 1rem;
                font-weight: 700;
                flex: 1;
                margin: 0;

                span {
                    display: block;
                    font-size: .875rem;
                    font-weight: 500;
                    color: #666666;
                }
            }

            b {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.125rem;
                font-weight: 700;
                color: #fff;
                background: $secondary;
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
        }

    }
}

.dItem {
    position: relative;
    padding: 1rem;
    background: #F6F6F6;
    border-radius: 6px;
    border: 1px solid #A6CDCD;
    height: 112px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    box-shadow: 0 0px 0px inset $primary;
    transition: all .3s ease-in-out;

    @include media-breakpoint-down(md) {
        margin-bottom: 15px;
    }


    h4 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
    }

    p {
        font-size: .75rem;
        font-weight: 700;
        margin: 0;
    }

    &.dItemBg {
        color: #fff;
    }

    &.dItemAlt {
        flex-flow: row;
        justify-content: flex-start;
        gap: 10px;
        cursor: pointer;

        .diImg {
            flex-shrink: 0;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: #E1DAF9;
            display: flex;
            align-items: center;
            justify-content: center;

            img,
            .icon {
                width: 20px;
                height: 20px;

                margin: 0 auto;
                color: #6E4EE3;

            }
        }

        .diText {

            h3 {
                font-size: 1.125rem;
                font-weight: 900;
                margin: 0;
            }

            span {
                font-size: .875rem;
                font-weight: 500;
                color: #333333;
            }
        }
    }

    &:hover,
    &.active {
        box-shadow: 0 -3px 0px inset $primary;
        background: #EAF1FF;

        &.dItemBg {
            box-shadow: 0 0px 0px inset $primary;
        }
    }
}

.circleProgress {
    height: 116px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}