body {
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;

}

.form-control {
    font-size: .875rem;
}

.btn {
    --bs-btn-font-size: .875rem;
    --bs-btn-padding-x: 1.2rem;

    &.btn-primary {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    &.btn-outline-primary {
        &:hover {
            color: #fff;
        }
    }

    &.btn-link {
        text-decoration: none;
    }
}