body {
    background: #EAF1FF;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    color: #000;
    font-weight: 500;

}

.container {
    @include media-breakpoint-down(lg) {
        max-width: 100%;
    }
}

section {

    &.block {
        padding: 60px 0;
    }

    &.blockTitle {
        padding: 40px 0 0;

        +.block {
            padding-top: 30px;
        }
    }
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // margin: 0 auto;
}

.form-control,
.form-select {
    font-size: .875rem;
}

.btn {
    --bs-btn-font-size: .875rem;
    --bs-btn-padding-x: 1.2rem;

    &.noBtn {
        padding: 0;
    }

    &.btn-primary {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    &.btn-outline-primary {
        &:hover {
            color: #fff;
        }
    }

    &.btn-link {
        text-decoration: none;
    }
}

.input-group {
    .btn {
        --bs-btn-padding-x: .75rem;
    }
}

.dropdown {

    .dropdown-menu {

        .dropdown-item {
            font-size: .875rem;
            font-weight: 500;

            &:hover {
                background-color: #F8F9FA;
            }
        }
    }
}