.mainHeader {
    box-shadow: 0px 4px 15px 0px #00000040;
    background-color: #fff;
    position: sticky;
    z-index: 99;

    .container {
        height: 74px;
        display: flex;
        align-items: center;

        .mhRow {
            width: 100%;
            position: relative;
        }
    }

    .logo {
        margin-right: 30px;

        img {
            height: 54px;
        }
    }

    .navbar {
        --bs-navbar-toggler-focus-width: 0.1rem;

        @include media-breakpoint-down(lg) {
            align-self: flex-start;
            margin-top: 12px;
        }

        .navbar-toggler {
            border-color: #F8F9FA;
        }

        .navbar-collapse {
            @include media-breakpoint-down(lg) {
                background-color: #fff;
                box-shadow: 0px 4px 15px 0px #00000040;

                padding: 10px 15px;
                border-radius: 6px;
            }
        }

        .navbar-nav {

            .nav-link {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    right: 0;
                    width: 100%;
                    margin: 0 auto;
                    height: 4px;
                    border-radius: 20px;
                    background-color: $primary;
                    transition: all 250ms ease;
                    opacity: 0;
                    visibility: hidden;

                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }

                &.active,
                &:hover {
                    color: $primary;

                    &:after {
                        opacity: 1;
                        visibility: visible;
                        bottom: -5px;
                    }
                }
            }
        }
    }



    .user {
        gap: 10px;

        .myRequest {
            border: 1px solid #EEEEEE;
            border-radius: 20px;
            display: flex;
            align-items: center;
            padding: 5px 5px 5px 12px;
            gap: 10px;
            font-size: .7rem;
            font-weight: 500;

            @include media-breakpoint-down(md) {
                padding: 5px;
            }

            i {
                font-style: normal;

                @include media-breakpoint-down(md) {
                    display: none;
                }
            }

            span {
                border-radius: 50%;
                background-color: $secondary;
                color: #fff;
                height: 25px;
                width: 25px;
                font-size: .875rem;
            }

            &:hover {
                background-color: #F8F9FA;
            }
        }

        .notification {
            position: relative;

            .noBtn {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 1px solid #EEEEEE;

                .icon {
                    font-size: 1.2rem;
                }

                span {
                    position: absolute;
                    top: -3px;
                    right: -3px;
                    background-color: $danger;
                    color: #fff;
                    height: 17px;
                    width: 17px;
                    font-size: .75rem;
                    border-radius: 50%;
                }

                &:hover {
                    background-color: #F8F9FA;
                }
            }

            .notifications {
                max-width: 300px;
                min-width: 300px;
                max-height: 600px;
                overflow: hidden;
                overflow-y: auto;
                padding: 10px;

                .notification-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    &:not(:last-child) {
                        margin-bottom: 5px;
                        border-bottom: 1px solid #EEEEEE;
                    }

                    &:hover {
                        background-color: #F8F9FA;
                        cursor: pointer;
                    }

                    p {
                        // add line clamp of 2 lines
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;

                        font-size: .875rem;
                        font-weight: 400;
                        height: 47px;
                        margin-bottom: 0px;
                        padding: 0px 6px;
                    }
                }
            }
        }

        .profile {
            .noBtn {
                border-radius: 50%;
                height: 40px;
                width: 40px;
                overflow: hidden;

                img {}
            }

            .dropdown-menu {

                .dropdown-item {}
            }
        }
    }


}