.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;


    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
    }

    @include media-breakpoint-down(lg) {
        background: url('./assets/img/bg/login-bg.jpg') no-repeat center center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:before {
            background: rgba(0, 0, 0, 0.6);
        }
    }

    @include media-breakpoint-down(md) {
        flex-direction: column;
        padding: 0 20px;

    }

    .loginHero {
        min-height: 100vh;
        max-width: 868px;
        color: white;
        flex: 1;
        padding: 0 40px;
        position: relative;

        display: flex;
        align-items: center;

        @include media-breakpoint-up(lg) {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.6);
            }

            background: url('./assets/img/bg/login-bg.jpg') no-repeat center center;
            background-size: cover;
        }

        @include media-breakpoint-down(md) {
            min-height: initial;
            width: 100%;
            padding: 20px;
            background: none;
            flex: 0;
            justify-content: center;
            text-align: center;
        }

        h1 {
            position: relative;
            z-index: 1;
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;

            b {
                font-size: 2rem;
                font-weight: 900;
                display: block;
            }
        }
    }

    .loginForm {
        background: white;
        padding: 20px;
        max-width: 400px;
        margin: 0 auto;
        flex-basis: 400px;
        border-radius: 6px;
        z-index: 3;
        position: relative;

        >img {
            margin-bottom: 20px;
            max-width: 200px;
        }

        h1 {
            font-size: 1.875rem;
            font-weight: 900;
            margin-bottom: 0px;
            text-transform: uppercase;
        }

        p {
            margin-bottom: 20px;
        }

        .forgotText {
            font-size: .875rem;
        }

        .btns {
            @include media-breakpoint-down(md) {
                flex-direction: column;
            }

            .btn {
                width: 100%;
            }
        }
    }

}