.blockHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .bhTitle {

        .breadcrumbs {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: .875rem;
            color: #6C757D;

            .btn {
                padding: 0;
                color: $primary;

                span {
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-left: 5px;
                    display: inline-block;
                }
            }

            a {
                color: #6C757D;
                text-decoration: none;
            }

            .breadcrumb-separator {
                margin: 0 5px;
            }

            .count {
                color: #fff;
                font-size: .75rem;
                height: 18px;
                width: 18px;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-color: #6C757D;
            }
        }

        h2 {
            font-size: 1rem;
            font-weight: 900;
            margin: 0;
        }
    }

    .bhForm {

        .input-group {
            background: #fff;
            overflow: hidden;
            border: 1px solid #E5E5E5;
            border-radius: 20px;

            .form-control {
                border: none;
            }
        }

        .form-select {
            background-color: #fff;
            border: 1px solid #E5E5E5;
            border-radius: 20px;
        }

        &.bhForm-Multi {
            display: flex;
            align-items: center;
            gap: 10px;

            .bhLabel {
                font-size: .75rem;
                color: #999999
            }

            .bhfCol {
                display: flex;
                align-items: center;
                gap: 3px;

                .form-control {
                    border-radius: 20px;
                }

                .cancel {
                    color: $danger;
                }
            }
        }
    }
}

.dc-card {
    border-color: #A6CDCD;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color .3s;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);

    .card-body {

        .card-image {
            height: 80px;
            border-radius: 10px;
            background: #E3F0FD;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: contain;
            margin-bottom: 15px;

            img {
                width: auto;
                height: 50px;
                margin: 0 auto;
            }
        }

        .card-title {
            font-size: .9rem;
            font-weight: 500;
            margin: 0;
            height: 30px;
            text-transform: uppercase;
        }
    }

    .card-footer {
        background: #EAF1FF;
        border-top: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 15px;

        p {
            font-size: .75rem;
            margin: 0;

            span {
                height: 18px;
                width: 18px;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-left: 4px;
                color: #fff;
                background: $secondary;
            }
        }

        .icon {
            transform: translateX(0);
            transition: transform .3s;
        }
    }

    &:hover {
        border-color: $primary;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);

        .card-body {}

        .card-footer {

            .icon {
                transform: translateX(5px);

            }
        }
    }
}