.table {
    border-radius: 6px;
    overflow: hidden;

    thead {

        th {
            background-color: var(--bs-gray-900);
            color: #fff;
            padding: 10px;
        }
    }

    th,
    td {
        font-size: .8rem;
        vertical-align: middle;
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 5px;

    .btn {
        padding: 0.5rem 0.5rem;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        background: var(--bs-dark);
        border-color: var(--bs-border-color);

    }

    .btnView {
        color: $success;
    }

    .btnDelete,
    .btnInfo {
        color: $danger;
    }

    .btnComments {
        color: $primary;
    }
}